/*
 * This is a nextflow config file for metagenome mapping pipeline
 */

docker.enabled = false
conda.enabled = true

process{
    executor = 'slurm'
    queue = ''
    cpus = 2
    memory = 4.GB
    time = 24.h
    errorStrategy = 'ignore'
    maxRetries = 2

    withName: 'kneaddata' {
        cpus = 16
        memory = 50.GB
        time = 12.h
    }
    withName: 'FASTQ_SORT' {
        cpus = 12
        memory = 10.GB
        time = 6.h
    }
    withName: 'spades' {
        queue = ''
        cpus = 32
        memory = { 80.GB * task.attempt }
        time = 36.h
    }
    withName: 'megahit' {
        queue = ''
        cpus = 32
        memory = { 40.GB * task.attempt }
        time = 36.h
    }
    withName: 'GTDBTK_CLASSIFY_WF' {
        queue = ''
        cpus = 80
        time = 24.h
    }
    withName: 'BWA_INDEX' {
        queue = ''
        cpus = 4
        memory = 10.GB
        time = 6.h
    }

    withLabel: process_single {
        cpus   = { 1                   }
        memory = { 2.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }
    withLabel: process_low {
        cpus   = { 6     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 6.h   * task.attempt }
    }
    withLabel: process_proper {
        cpus   = { 12    * task.attempt }
        memory = { 20.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }
    withLabel: process_medium {
        cpus   = { 32    * task.attempt }
        memory = { 30.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }
    withLabel: process_high {
        cpus   = { 32    * task.attempt }
        memory = { 80.GB * task.attempt }
        time   = { 24.h  * task.attempt }
    }
    withLabel: process_long {
        time   = { 36.h  * task.attempt }
    }
    withLabel: process_low_memory {
        memory = { 2.GB  * task.attempt }
    }
    withLabel: process_medium_memory {
        memory = { 50.GB * task.attempt }
    }
    withLabel: process_high_memory {
        memory = { 200.GB * task.attempt }
    }

    resourceLimits = [
        cpus: 128,
        memory: 512.GB,
        time: 2.d
    ]
}

//params {
//}


profiles {
    test {
        process.executor = 'local'
        process.cpus = 2
        process.memory = 2.GB

        process.resourceLimits = [
            cpus: 2,
            memory: 2.GB,
            time: 2.h
        ]
    }

    test_toy {
        process.executor = 'slurm'
        process.cpus = 10
        process.memory = 10.GB

        process.resourceLimits = [
            cpus: 32,
            memory: 50.GB,
            time: 30.h
        ]
    }
}

/*
 * Output settings
 */
outputDir = "results/"

workflow {
    output.mode = 'copy'
    failOnIgnore = true
}
